.searched-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 1499px) {
  .searched-news {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .searched-news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .searched-news {
    grid-template-columns: repeat(1, 1fr);
  }
}
