.error-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-section__error-message-section {
  text-align: center;
}

.error-section__error-message {
  font-family: var(--body-font);
}
