.news-section {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 1rem;
}

.news-section__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.icon {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: var(--accent-color);
}

.icon:hover {
  font-size: 4.4rem;
  transition: 0.1s ease-in-out all;
}

.small-screen-navigation{
  display: none;
}

@media (max-width: 1499px) {
  .news-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-section__icon{
    display: none;
  }
  .small-screen-navigation{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .news-section {
    grid-template-columns: 1fr;
  }
}

