.comment-card {
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: var(--secondary-color);
}

.parent-comment {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.child-comment {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.comment-card__username {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card__username {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.comment-card__comment {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-family: var(--body-font);
  font-weight: 400;
}

.comment-card__show-more {
  cursor: pointer;
}

.comment-card__show-more:hover {
  text-decoration: underline;
}
