.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  font-size: 2rem;
  padding: 0.7%;
  border: none;
  border-radius: 15px;
  font-family: var(--title-font-2);
  width: 74rem;
}

.home-skeleton-section {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 2rem;
}

.home-skeleton-section__skeleton {
  background-color: var(--skeleton-color);
  display: inline-block;
  height: 10rem;
  width: 20rem;
  border-radius: 10px;
}
