.home-skeleton-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.home-skeleton-section__skeleton {
  background-color: var(--skeleton-color);
  display: inline-block;
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
}

@media (max-width: 1499px) {
  .home-skeleton-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .home-skeleton-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .home-skeleton-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
