.header {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__logo {
  color: var(--secondary-color);
  font-size: 3rem;
  font-family: var(--logo-font);
  font-weight: 900;
  font-style: normal;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 400px) {
  .header__logo{
    font-size: 1.7rem;
  }
}
