:root {
  --primary-color: #011c57;
  --secondary-color: #ffffff;
  --accent-color: #292e58;
  --background-color: #eaeaea;
  --border-color: #011c57;
  --skeleton-color: #808080;

  --logo-font: 'Playfair Display SC', serif;
  --title-font-1: 'Libre Baskerville', serif;
  --title-font-2: "Lato", sans-serif;
  --body-font: 'Merriweather', serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}
